# Gradle project-specific cache directory
.gradle

# Gradle build output directory
build

# Intellij and Eclipse specfics
.idea
.settings
.classpath*
.project

# Java compiled class file
*.class

# Log files
*.log

# Java package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Java VM crash logs
hs_err_pid*
